<div class="container">
  <div class="page-header">
    <h1>Edit User</h1>
  </div>
  <ol class="breadcrumb">
    <li><%= link_to 'Users', users_path %></li>
    <li class="text-muted"><%= link_to "#{@user.first_name} #{@user.last_name}", user_path(@user) %></li>
  </ol>
  <%= render 'form' %>
</div>
