<div class="container">
  <div class="page-header">
    <a name="top"></a>
    <h1>Frequently Asked Questions</h1>
  </div>
  <ul>
    <li><a href="#what-is-gcamp">What is gCamp?</a></li>
    <li><a href="#how-do-i-join">How do I join gCamp?</a></li>
    <li><a href="#when-will-gcamp-be-finished">When will gCamp be finished?</a></li>
  </ul>
  <% @faqs.each_slice(3) do |anchor, question, answer| %>
    <div class="row">
      <div class="col-md-6">
      <a name="<%= anchor %>"> </a>
        <h3 class="question"><%= question %></h3>
          <p class="answer"><%= answer %></p>
            <a href="#top">Top</a>
      </div>
    </div>
  <% end %>
</div>
