<div class="container">
  <div class="page-header">
    <a name="top"></a>
    <h1>Frequently Asked Questions</h1>
  </div>
    <ul>
      <li><a href="#what-is-gcamp">What is gCamp?</a></li>
      <li><a href="#how-do-i-join">How do I join gCamp?</a></li>
      <li><a href="#when-will-gcamp-be-finished">When will gCamp be finished?</a></li>
    </ul>
      <div class="row">
        <div class="col-md-6">
          <% @faqs.each do |faq| %>
          <a name="<%= faq.slug %>"></a>
          <h3><%= faq.question %></h3>
          <p><%= faq.answer %></p>
          <a href="#top">Top</a>
          <% end %>
        </div>
      </div>
</div>
